<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking </title>
		
		<link type="text/css" rel="stylesheet" href="assets/homepage.css.scss">
		
		

		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
		<!-- // <script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-modal.js"></script>  -->
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/assets/jquery-ui.min.js"></script> 

		
		<script src='assets/jquery/jquery-ui-1.10.2.custom.min.js'></script> 


		<script src='assets/fullcalendar/fullcalendar.min.js'></script>

		<link type="text/css" rel="stylesheet" href='/assets/fullcalendar/fullcalendar.css' rel='stylesheet' />
		<link type="text/css" rel="stylesheet" href='/assets/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />

		<script>


			var events = [1000];
			var index = 0;
			var usercalendar;
			var idToSend;

			$(document).ready(function() {
				
				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();


				json_request("/Sections/getAvailableSectionsFromNowOn", {}, function(data) 
			   	{ return extractSections(data['sections']); }, function(err) { alert('error occurred on request'); });


				usercalendar = new UserCalendar(events);
				usercalendar.display();
				$('#ulisesModal').hide();  


			});



			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'POST',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });}


		    function extractSections(data){

		    	for (var counter = 0, dictLen = data.length; counter < dictLen; counter++) {

		    		var lesson_type = data[counter]['lesson_type']; 
			    	var title = 'Section-C Available';
			    	var id = data[counter]['id'];
					var start = (data[counter]['start_date']).split("T")[0] + "T" + (data[counter]['start_time']).split("T")[1];
					var dayInfo = new Date((data[counter]['start_date']).split("T")[0] + "T" + (data[counter]['start_time']).split("T")[1]);
					var end = (data[counter]['end_date']).split("T")[0]+ "T" + (data[counter]['end_time']).split("T")[1];
					var className = 'Section-C';
					var backgroundColor = 'red';


			    	if (data[counter]['section_type'] =='A') {
			    		title = 'Section-A Available';
			    		backgroundColor = 'blue';
			    		className = 'Section-A';
			    		end = (data[counter]['start_date']).split("T")[0]+ "T" + (data[counter]['end_time']).split("T")[1];

			    	} else if (data[counter]['section_type']=='B') {
			    		title = 'Section-B Available';
			    		className = 'Section-B';
			    		backgroundColor = 'orange';

			    	} 

			    	var newSection = {'title':title, 'id':id, 'start':start, 'end':end, 'allDay':false,
			    	'lesson_type':lesson_type,'dayInfo':dayInfo, 'className': className, 'backgroundColor':backgroundColor};

			    	
			    	events[index] = newSection;
			    	index = index + 1;
			    	
			    	$(UserCalendar.identifier).fullCalendar( 'refetchEvents' );
					$(UserCalendar.identifier).fullCalendar( 'rerenderEvents' );

				}

		    	return true;

		    }


			var UserCalendar = function(input_events) {
				//Instance Variable and Methods (ie input events dependant)
				this.events = input_events;

				this.calendarOptions = 	{
					header: UserCalendar.headerOptions,
					editable: false,
					events: input_events,
					eventClick: UserCalendar.clickEvent,
					//dayClick: UserCalendar.clickDay,
					viewDisplay: UserCalendar.disp,
					
				};

				this.display = function() {
					$(UserCalendar.identifier).fullCalendar(this.calendarOptions);
				}
			}

			// Singleton Class per Page Static Methods
			UserCalendar.identifier = "#calendar";

			UserCalendar.headerOptions = {
				left: 'prev,next today',
				center: 'title',
				right: 'month prev,next',
			};

			UserCalendar.disp = function (view ) {
				if($(UserCalendar.identifier).fullCalendar('getView').name == "month"){

					$('#Month').show()
					$('#Day').hide()
				}
			}

			UserCalendar.clickEvent = function(calEvent, jsEvent, view) {
				if(view.name=='agendaDay') {

					$('#ulisesModal').show(); 
					$('#modal-section').empty(); 
					$('#modal-section').append(calEvent.className);
					$('#modal-date').empty(); 
					$('#modal-date').append(calEvent.dayInfo);
					$('#modal-lesson').empty(); 
					$('#modal-lesson').append(calEvent.lesson_type);

					idToSend = calEvent.id;
					
					return true;
				}

				$('#modal-cancel').click(function() {
			   		$('#ulisesModal').hide(); 
				});

				$('#modal-reserve').click(function() {
					
			   		$('#ulisesModal').hide(); 
				});
				
				if($(UserCalendar.identifier).fullCalendar('getView').name == "month"){
					
					$(UserCalendar.identifier).fullCalendar('changeView', 'agendaDay');
					$(UserCalendar.identifier).fullCalendar('gotoDate',calEvent.dayInfo);
					$('#Month').hide()
					$('#Day').show()
				}
				return false;
			}

			//UserCalendar.clickDay = function(date, allDay, jsEvent, view) {
			//	if($(UserCalendar.identifier).fullCalendar('getView').name == "month"){
			//		$(UserCalendar.identifier).fullCalendar('changeView', 'agendaDay').fullCalendar('gotoDate', date);
			//		alert(date);
			//		$('#Month').hide()
			//		$('#Day').show()
			//	}
			//	return true;
			//}
			
		</script>

		<style>

			body {
				background-color: rgb(1,136,169);
				margin-top: -10px;
				text-align: center;
				font-size: 14px;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				}

			#calendar {
				width: 886px;
				margin: 0 auto;
				margin-top: -7px;
				background-color: white;
				border:  white thin solid;
				}

		</style>
		

	</head>

	<body><div class="container" style="width:1265px">

		<div id="ulisesModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  		<div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    		<h3 style="color:blue" id="myModalLabel">Confirm Reservation</h3>
	  		</div>
	  		<div class="modal-body">
	  			<h4><p>- Section Information -</p></h4>
	    		<p style="color:gray" id="modal-section"> section</p><br>
	    		<h4><p>- Selected Date and Time -</p></h4>
	    		<p style="color:gray" id="modal-date">date and time</p><br>
	    		<h4><p>- Lesson Type Information -</p></h4>
	    		<p style="color:gray" id="modal-lesson">lesson</p>
	  		</div>
	  		<div class="modal-footer">
		    	<button id="modal-cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel Reservation</button>
		    	<button id="modal-reserve" class="btn btn-primary">Make Reservation</button>
	  		</div>
		</div>

		<body2>
			<div class="navbar navbar-inverse nav navbar-fixed-top">
			    <div class="navbar-inner">
			    	<div class="container" style="width:1265px">
			            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </a>
			            <a class="brand"  href="/" style="color:white; font-size:27px"> &nbsp &nbspRancho Rinconada</a>
			              <div class="pull-right">
			                <ul class="nav pull-right">
			                	<li class="divider-vertical"></li>
			                    
			                    <li id= "SignDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
						          <ul class="dropdown-menu"> <!-- daniel start -->
						            <div class="span3">
						              <form class="form-horizontal">
						                <br>
						                <font17px>Username</font17px> 
						                <input class="span2" type="email" required id="login-email"  placeholder="your@email.com" style="width:188px">
						                <br><br>

						                <font17px>Password</font17px> 
						                <input class="span2" type="password" id="login-password" placeholder="Password" style="width:188px"><br>

						                <button id="login-user-button" type="submit" class="btn btn-primary">Sign in</button>
						                <br><br>
						                <!-- Error And Sucess -->
						                <div class="alert hide alert-error" id="login-user-errors">
						                  <a class="close" data-dismiss="alert">&times;</a>
						                    <!-- <i class="icon-exclamation-sign"></i> -->
						                    <span id="login-user-err-message"></span>
						                </div>
						                <div class="alert hide alert-success" id="login-user-success">
						                  <a class="close" data-dismiss="alert">&times;</a>
						                    <!-- <i class="icon-ok"></i> -->
						                    Login Successful!
						                </div><!-- Error And Sucess -->
						              </form> <!-- loginform -->
						            </div><!-- span3 -->
						          </ul> <!-- dropdownmenu --> <!-- daniel end -->
			                        
			                        <!-- <ul class="dropdown-menu">

			                        	<form class="form-horizontal">
			                        		
			                        		<div class="span3">
			                        		<br>

			                        		<font17px>Username</font17px>

	  										<input class="span2" type="email" required id="login-email"  placeholder="your@email.com" style="width:188px">
	      								    <br><br>
	      									
	      									<font17px>Password</font17px>
	      									<input class="span2" type="password" id="login-password" placeholder="Password" style="width:188px">
	      									<br>

	      									<font17px id="err_message"></font17px><br>

									      	<button id="login-button" type="submit" class="btn btn-primary">Sign in
									      	</button>
									      	<br><br>
									    		
									  		</div>
										</form>
			                        </ul> -->

			                    </li>

			                    <li id="WelcomeDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
			                        <!-- <ul class="dropdown-menu">
			                            <li><a href="/Users/updateUsers"><i class="icon-pencil"></i> Update Profile</a></li>
			                            <li><a href="/"><i class="icon-pencil"></i> Change Password</a></li>
			                            <li><a href="/"><i class="icon-list"></i> My Sessions</a></li>
			                            <li class="divider"></li>
			                            <li><a href="/"><i class="icon-off"></i> Logout</a></li>
			                        </ul> -->
			                        <ul class="dropdown-menu">
          								<li><a href="/Users/show"><i class="icon-pencil"></i> View Profile</a></li>
          								<li><a href="#update-user-1" role="dialog" data-toggle="modal"><i class="icon-pencil"></i> Update Profile</a></li>
          								<li><a href="#update-password-1" role="dialog" data-toggle="modal"><i class="icon-pencil"></i> Change Password</a></li	>
          								<li><a href="/"><i class="icon-list"></i> My Sessions</a></li>
          								<li class="divider"></li>
          								<li><a id="logout-button"><i class="icon-off"></i> Logout</a></li>
          							</ul> <!-- dropdown -->
			                    </li>



			                </ul>
			              </div>

			              <div id="CreateAccountButton" class="pull-right">
			              	<ul class="nav">
			                  <li class="divider-vertical"></li>
			                  <!-- <li><a href="/users/new"> Create an Account</a></li> -->
			                  <li><a href="#create-user" data-toggle="modal"> Create an Account</a></li>
			              </ul>
			              </div>
			        </div>
			    </div>
			</div>

		</body2>

		<div class="container-fluid"><body2>

			<div class="row-fluid">

				<div class="span3">

					<position-fixed-top>
						<div class="span10">
							
							<div id="FilterSelection" class="alert alert-info">
						  		<h5>Hide Only: </h5>
						  		Select the Section Types You Are<br> 
						  		Not Interested In ...
						  			
						  		<br><br><form class="form">
						  			
									<label id="show-A" class="checkbox">
									  	<input type="checkbox"> Type A
									</label>

									<label id="show-B" class="checkbox">
										<input type="checkbox"> Type B
									</label>

									<label id="show-C" class="checkbox">
										 <input type="checkbox"> Type C
									</label>
								</form>
							</div>

							<div class="alert alert-info">
							  <h5>To Make a Reservation:</h5>
							  Step One:<br> Select a Day and a Section Type<br>
							  from the Calendar by Clicking<br> 
							  Over the Rounded-edged Squares. <br><br>

							  Step Two:<br> Select the Time and a Lesson<br> Type
							  in the Pop-up Window by<br> Clicking
							  over the Rounded-edge Squares.<br><br>

							  Empty Days and Times Cannot<br> 
							  be Reserved.<br> 

							</div>
						</div>
					</position-fix-top>
				</div>
			

				<div class="span9">

					<div id="DateSelection" class="alert alert-info">

			  			<h3 id="Month">Select a Day and Section Type: </h3>
			  			<h3 id="Day">Select the Time and Lesson Type: </h3><br>
			  			<div id="calendar"></div><br>
			  			
					</div>

				</div>

			</div>
		</body2></div>
		<div class="navbar navbar-fixed-bottom navbar-inverse">
				<div class="navbar-inner">
					<div class="container" style="width:1265px">
			        	<div id="copyRights" class="pull-left">
			              	<ul class="nav">
			                  <li><a style="color:gray; font-size:15px">© 2012 Copyright Rancho Rinconada Rec Center</a></li>
			              	</ul>
			        	</div>

			        	<div id="bringToTop" class="pull-right">
			              	<ul class="nav">
			                  <li><a href="#">Bring To Top</a></li>
			              	</ul>
			             </div>
			    	</div>
			    </div>
	  	</div>

  	</div>
	<%= render 'navbar/create_user_modal' %>
	<%= render 'shared/update_user_form' %>
	<%= render 'users/update_user_additional' %>
	<%= render 'users/update_user_password' %>
	<%= render 'users/update_user_contacts' %>
  	<body>

		
<script type="text/javascript">
var logged_in = false;

$(document).ready( function() {
	init_password_update();
	// $.getJSON("/Users/profile", checkifloggedin);
	$.getJSON("/Users/profile", init_user_home);
	// post_json_request("/Users/profile", {a:"bbb"}, init_user_home);
	// $.ajax({
	//   url: "/Users/profile",
	//   type: 'POST',
	//   dataType: {},
	//   complete: function(xhr, textStatus) {
	//     //called when complete
	//   },
	//   success: init_user_home,
	//   error: handleErrorResponse
	// });
    // init_user_home(logged_in);
});

function post_json_request(page, dict, success) {
    $.ajax({
        type: 'POST',
        url: page,
        data: JSON.stringify(dict),
        contentType: "application/json",
        dataType: "json",
        success: success
    });
}
function checkifloggedin(data) {

  if(data.errCode==1) {    
    logged_in = true;
  }
  logged_in = false;
}
function sendUpdateUserRequest() {
	$("#update-user-err-message").empty();
	var inputUser = new User();

	post_json_request("/Users/update", inputUser.collectInput("update"), handleUpdateResponse);
	return false;
}
function handleErrorResponse(data) {
	$('#SignDropDown').hide();
  	$('#CreateAccountButton').hide();
	$('#WelcomeDropDown').hide();
	$('#login-email').val("");
	$('#login-password').val("");

	
  	// $("#SignDropDown").hide();
  	// $.container
  	// var cookie = $.cookie("user_id");
  	// var does_not_exist = cookie === null || cookie === undefined;
  	// var isValidData = data === undefined || data === null;
  	// var isValid = data.errCode === undefined || data.errCode === null;
	



	$('#SignDropDown').show();
  	$('#CreateAccountButton').show();

    $("#login-user-button").click(sendLoginUserRequest);
    $("#update-user-button").click(sendUpdateUserRequest);
      
	$('#logout-button').click(function() {
		post_json_request("/Users/logout", {}, function(data) { 
		  alert("logging out");
		  window.location.href = '/';
		  return false; 
		});
	});


  return false;

}
function init_user_home(data) {
	$('#SignDropDown').hide();
  	$('#CreateAccountButton').hide();
	$('#WelcomeDropDown').hide();
	$('#login-email').val("");
	$('#login-password').val("");

	
  	// $("#SignDropDown").hide();
  	// $.container
  	// var cookie = $.cookie("user_id");
  	// var does_not_exist = cookie === null || cookie === undefined;
  	var isValidData = data === undefined || data === null;
  	var isValid = data.errCode === undefined || data.errCode === null;
	
// $.ajax({
//   url: '/path/to/file',
//   type: 'POST',
//   dataType: 'xml/html/script/json/jsonp',
  
//   complete: function(xhr, textStatus) {
//     //called when complete
//   },
//   success: init_user_home,
//   error: function(xhr, textStatus, errorThrown) {
//     //called when there is an error
//   }
// });


	if(isValidData && isValid && data.errCode==1 ) {
	  	// $('#CreateAccountButton').hide();
	  	// $("#SignDropDown").hide();
	  	$('#WelcomeDropDown').show();
	}
	// (isValid && data.errCode!=1)	{
	else {
		
		$('#SignDropDown').show();
	  	$('#CreateAccountButton').show();
		// $('#WelcomeDropDown').hide();

	}

    $("#login-user-button").click(sendLoginUserRequest);
    $("#update-user-button").click(sendUpdateUserRequest);
      
	$('#logout-button').click(function() {
		post_json_request("/Users/logout", {}, function(data) { 
		  alert("logging out");
		  window.location.href = '/';
		  return false; 
		});
	});
  	// $('#section-template').hide();    //hide template
	// $('#CreateAccountButton').hide()
  // getViewUserSections();       //populate table
  // $.getJSON("/Users/profile", handleProfileResponse);
  // $.getJSON("/Sections/getAllSections", handleViewSectionsResponse);
  
  // $('#logout-button').click(function() {
  //   post_json_request("/Users/logout", {}, function(data) { 
  //     alert("logging out");
  //     window.location.href = '/';
  //     return false; 
  //   });
  // });


  // $.getJSON("/Registrations/getEnrolledSections", handleViewSectionsResponse);
  return false;
}
function handleUpdateResponse(data) {
	if(data.errCode==1) {alert("update success");}
	else {alert("faieled");}
	return false;
}
///////////////////////////////////////////////////////////////////////
/////////////////////////// Login User Functions //////////////////////
///////////////////////////////////////////////////////////////////////


function getFormInput(action, key) {
  var identifier = "#" + action + "-" + key;
  return $(identifier).val();
}
function sendLoginUserRequest() {
  $("#login-user-errors").fadeOut(100);
  var login_user = { email:getFormInput("login","email"),  password:getFormInput("login","password") };
  post_json_request("/Users/login", login_user, handleLoginUserResponse);
  return false;
}


function handleLoginUserResponse(data)  {
  var error_message = translateErrCode(data.errCode);
  $("#login-user-err-message").empty();
  $("#login-user-err-message").append(error_message);

  if (data.errCode!=1) {
     $("#login-user-errors").fadeIn(200);
     return data.errCode;
  }
  else {
    $("#login-user-success").fadeIn(300);
  	$("#SignDropDown").hide();
  	$('#CreateAccountButton').hide();
  	$('#WelcomeDropDown').show();
    return 1;
  }
}
	
   
   // 			/* setup the page so that only one of the forms is shown */
			
			// $(document).ready(function() {
			//  	show_login_page()
			//  });

			// function show_login_page() {
	  //  			$('#SignDropDown').show()
			// 	$('#CreateAccountButton').show()	
	  //  		}

			// function handle_login_response(data) {
			// 	$('font17px#err_message').empty();
			// 	$('font17px#err_message').css('font-size','12px');
			// 	$('font17px#err_message').css('color','red');
			// 	$('font17px#err_message').append(getErrorMessage(data));
			// }

			// function getErrorMessage(data) {
			//   switch (data.errCode){

			//     case 108:
			//     	return "Invalid Username and/or Password";
			//       break;

			//     //This is the case for success
			//     default:
			//     	if (data.type != "Admin") {
			//     		$('#SignDropDown').hide()
			// 			$('#CreateAccountButton').hide()
			// 			$('#WelcomeDropDown').show()
			// 			$('#ProgressBar').display()
			//     	} 
			//     	else {
			//     		window.location.href = "/admin";
			//     	}   
			//   }
			// }


			// $('#login-button').click(function() {
			//    email = $('#login-email').val()
			//    password = $('#login-password').val()
			//    json_request("/Users/login", { email: email, password: password }, function(data) 
			//    	{ return handle_login_response(data); }, function(err) { alert('error occurred on request'); });

			//    return false;
			// });

			// function json_request(page, dict, success, failure) {
		 //    $.ajax({
		 //        type: 'POST',
		 //        url: page,
		 //        data: JSON.stringify(dict),
		 //        contentType: "application/json",
		 //        dataType: "json",
		 //        success: success,
		 //        failure: failure
		 //    });}

		     $("#show-A").click( function() {
			 	$('.Section-A').toggle();
			 });

			 $("#show-B").click( function() {
			 	$('.Section-B').toggle();
			 });

			 $("#show-C").click( function() {
			 	$('.Section-C').toggle();
			 });

		</script>
		
</html>
