<h1>Sign Up</h1>

<div class="box" id="login">
	<%= form_for :user do |f| %>
			First Name <br />
			<%= f.text_field :first, :size => 24 %><br />

			Last Name <br />
			<%= f.text_field :last, :size => 24 %><br />

			Email <br />
			<%= f.text_field :email, :size => 24 %><br />

			Date of Birth <br />
			<%= f.text_field :dob, :size => 24 %><br />

			Zipcode <br />
			<%= f.text_field :zip, :size => 24 %><br />

			Password <br />
			<%= f.password_field :password, :size => 24 %><br />

			Confirm Password <br />
			<%= f.password_field :password_confirmation, :size => 24 %><br />

			<%= f.hidden_field :admin, :size => 24 %><br />
			
			<%= f.submit %>

	<% end %>
	<%= form_for :user do |f| %>
		<% if @user.errors.any? %>
	    <div class="error_messages">
	      <h3>Form is invalid</h3>
	      <ul>
	        <% for message in @user.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  	<% end %>
	<% end %>


</ div>

	