<h1>users#show</h1>
<ul>
	<li>Name:          <%= @user.name %></li>
	<li>Email:         <%= @user.email %></li>
	<li>Zipcode:       <%= @user.zip %></li>
	<li>Date of Birth: <%= @user.dob %></li>
</ul>

<div class="sessions">
	<h4> user.terms.each do |term| </h4>
	<table>
	<tr>
		<td>term.name</td>
		<td><%= link_to "TermTitle", "#" %></td>
	</tr>
	</table>
</div>